<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../stylesheets/partials.css">
  <title>
    Lisa Buch
</title>
</head>
<body>
  <a id="back" href="../index.html">< go back</a>
  <header>
  <h1>about</h1>
</header>
  <section>
   <p>I was born in Massachusetts, work and study in Manhattan, live in Brooklyn, and love to travel anywhere there's snow and mountains! When I'm not working, you can find me swimming, drawing, and petting dogs that I wish were mine.</p><div id="bar"> </div>
  <p><b>Currently exploring</b> &rarr; Ruby at Dev Bootcamp NYC</p>
  <p><b>Trails well explored</b> &rarr; JavaScript, jQuery, CSS3, SASS, AngularJS, the MEAN Stack</p>
  <p><b>Tools I use every day</b> &rarr; Adobe CS6, GitHub, coffee, and news podcasts</p>

  <p>Check out some of my creative projects <a href="http://lkbdesign.com" target="_blank">here</a> and on <a href="https://www.instagram.com/lkbmakes/" target="_blank">@lkbmakes</a>

</section>
<img src="../imgs/profpic.png" alt="Lisa" width="313" height="315">
</body>
</html>