html{

background: linear-gradient(to left, #FFEEEE , #DDEFBB);

font-family: 'Raleway', sans-serif;
}
header{
  color:#4f4e4e;
  margin-left:1.5em;
  margin-top:3em;


}
header h1{
  line-height:180%;
}
div{
  background:url(../imgs/topo.png);
  background-size:cover;
}

.entryheader{
  margin-left:6em;
  font-size: 1em;
  line-height:110%;
}

.entryheader h2{
  font-size:1.3em;
  width: 20em;
}

.entryheader h3{
  margin-bottom:2em;
}

a{
  text-decoration:none;
  color:#333;
}
#profile{
  height:100%;
position:absolute;
top:3em;
right:.5em;
text-align:center;
border-left:none;
}
#profile h4{
  font-size:.6em;

}
#profile h5{
  font-size:.4em;
}
#profile img{
  width: 200px;
  height:200px;
}
#profile ul{
  border-top: 1px solid #333;
  list-style:none;
  padding-left:0;
}
#profile ul li{

  font-size:.5em;
}

#blogindex{
  width: 90%;
  margin:auto;
  margin-top:5em;
}

#blogindex ul{
  padding-left:0;
  display:flex;
}

#blogindex ul li{
  display:block;
  background-color: transparent;
    border: 3px solid #595959;
    box-sizing: border-box;
    font-size:1.5em;
    line-height:40%;
    padding:3%;
    margin:3%;
    text-align:center;
}

#blogindex ul li:hover{
  background-color:rgba(233,255,156, 0.2);
}

#blogindex ul li a{
font-size: .4em;
text-align:center;
horizontal-align:center;
}

#blogindex ul li a:hover{
  color:#ef3261;
}
body main{
  width:65%;
  margin: 5% 0 10% 10%;
}

body main img{
float:left;
 padding:1em;
}

main section{
  margin: 0 1.5em 0 1.5em;
  font-size:2em;
   border-left: 1px solid #333;
   padding-left:1.2em;
}

main section p{
  line-height:180%;
  text-align:justify;
font-size: .6em;

}

main section p .emph{
  font-size: 1.6em;
  font-weight:bold;
  display:inline-block;
}

main section ul{
  list-style:none;
}

main section ul li{
  font-size:.75em;
  margin-bottom:1em;
}


footer{
  position:absolute;
  bottom:0;
  left:1em;
}

section #resources{
margin-left:0;
padding-left:0;
border-left: none;
  font-size:1.5em;
  margin-bottom:2em;
}

section #resources h3{
font-size:.5em;
}

#home{
  margin:3em;
}