html{

background: linear-gradient(to left, #FFEEEE , #DDEFBB);

font-family: 'Raleway', sans-serif;
}
header{
  color:#4f4e4e;
  margin-left:1.5em;
  margin-top:3em;


}
header h1{
  line-height:180%;
}
header h2{
  line-height:180%;
}
div{
  background:url(../imgs/topo.png);
  background-size:cover;
}

.entryheader{
  margin-left:6em;
  font-size: 1em;
  line-height:110%;
}

.entryheader h2{
  font-size:1.3em;
  width: 20em;
}

.entryheader h3{
  margin-bottom:2em;
}

a{
  text-decoration:none;
  color:#333;
}
#profile{
  height:100%;
position:absolute;
top:3em;
right:.5em;
text-align:center;
border-left:none;
width:20%;
}
#profile img{
  margin: auto;
}
#profile h4{
  font-size:.6em;


}
#profile h5{
  font-size:.4em;
}
#profile img{
  width: 200px;
  height:200px;
}
#profile ul{

  border-top: 1px solid #333;
  list-style:none;
  padding-left:0;
}
#profile ul li{

  font-size:.5em;
}

#blogindex{
  width: 90%;
  margin:auto;
  margin-top:5em;
}

#blogindex ul{
  padding-left:0;
  display:flex;
}

#blogindex ul li{
  display:inline-block;
  width:60%;
  background-color: transparent;
  border-radius:5px;
    border: 0.5px solid #595959;
    box-sizing: border-box;
    font-size:3em;
    line-height:40%;
    padding:3%;
    margin:3%;
    text-align:center;
}

#blogindex ul li:hover{
  background-color:rgba(233,255,156, 0.2);
}

#blogindex ul li a{
font-size: .4em;
text-align:center;
horizontal-align:center;
}

#blogindex ul li a:hover{
  color:#ef3261;
}
body main{
  width:65%;
  margin: 5% 0 0% 10%;
}

body main img{
float:left;
 padding:2em;
}

main section{
  margin: 0 1.5em 0 1.5em;
  font-size:2em;
   border-left: 1px solid #333;
   padding-left:1.2em;
}

main section p{
  line-height:180%;
  text-align:justify;
font-size: .6em;
display:inline-block;

}

main section p .emph{
  font-size: 1.6em;
  font-weight:bold;
  display:inline-block;
}

main section ul{
  list-style:none;
}

main section ul li{
  font-size:.75em;
  margin-bottom:1em;
}
main section ol {
  font-size:.6em;
}
main section ol li .pre pre{
  font-size:1em;
  padding-top: 0.5%;
  padding-bottom:0.5%;

  padding-right:30%;
}
aside{
  margin:8%;
  padding:2%;
  font-style:italic;
  font-size: .75em;
  background-color:#fffce5;
  color:#333;
  border-radius: 10px;
}
.pre{
  width:auto;
  background-color:#e5dae2;
  background-image:none;
  border-radius:5px;
  padding-left:2%;
  display:inline-block;
  font-size:.6em;
}
.pre pre{
  white-space: pre-wrap;
  font-family: Courier;
  font-size:.6em;
  width:100%;
  padding-top: 0.5%;
  padding-bottom:0.5%;
padding-left:4%;
  padding-right:4%;
}

footer{
  position:absolute;
  bottom:0;
  left:1em;
}

#resources{
margin-left:15%;
padding-left:0;
border-left: none ;
  font-size:1em;
  margin-bottom:2em;
}


#resources h3{
font-size:1.6em;


}


#home{
  margin:3em;
}