html{

position:relative;


}
body{

background: linear-gradient(221deg, #d3edac, #d989b4, #97b8ec);
background-size: 300% 300%;

-webkit-animation: AnimationName 60s ease infinite;
-moz-animation: AnimationName 60s ease infinite;
animation: AnimationName 60s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
}


a{
  text-decoration:none;
  color:#333;
}

header{
  font-family: 'Raleway', sans-serif;
  font-size:1.65em;
  line-height:10%;
  margin:3em;
  color:#fff;
}

header h2{
  width:20%;
  line-height:120%;
  font-size:1.4em;
}

nav{

  font-family: 'Raleway', sans-serif;
  font-size:2em;
  z-index:-3;
  width:auto;

}
nav ul{
margin-left:-1%;
  padding-left:0;
  text-align:center;
  position:relative;

}
#mountain{
  width:auto;
 position:absolute;
 right:0;
}
nav ul li{
  list-style:none;
border:3px solid #fff;
  border-radius:5px;
  width:10%;
  padding:2%;
  margin-bottom:.3em;
  text-align:center;
  display:inline-block;
  color:#fff;
}

nav ul li:hover{
  background: #333;
  color:#fff;
  transition:0.65s;

}
nav ul li:hover{
   width:23%;
   transition:1s;
}

nav ul li:hover a{
  color:#fff;
  transition: 0.65s;
}

nav ul li a{
  width:100%;
  text-decoration:none;
  color: #fff;
}
nav ul li a:hover{
  color: #fff;

}

 #social{
  float:right;
  width:25%;
  list-style:none;
  padding-left:0;
text-align:center;
}

 #social  li{
  display: inline-block;
  padding:1%;
  z-index:5;
}

div footer{

  color:#fff;
font-size:15px;
position:absolute;
margin-bottom:0;

}

