html{
background: linear-gradient(to left, #ddd6f3 , #faaca8);

}
body{
height:100%;
width: auto;
}

a{
  text-decoration:none;
  color:#333;
}

header{
    font-family: 'Raleway', sans-serif;
  font-size:2em;
  line-height:10%;
margin-left:2%;
  color:#fff;


}
header h2{
  width:20%;
  line-height:120%;
  font-size:1em;
}

#main{
  float:right;
 width:auto;
 display:inline-block;


  z-index:-2;

}

#main img{
  display:inline-block;
  width: 68em;
  height:42em;
  margin-left:.8em;
  margin-top:-8em;
  z-index:-1;
}
nav{
  padding-top: 1.208333333%;
  font-family: 'Raleway', sans-serif;
  font-size:3em;

  z-index:-3;
  width:110%;




}
nav ul{
margin-left:-1%;
  padding-left:0;
  text-align:center;
  position:relative;

}

nav ul li{
  list-style:none;
background:#f2dcf0;
  border-radius:8px;
  width:20%;
  padding:2%;
  margin-bottom:2%;
  text-align:right;
}

nav ul li:hover{
  background: #333;
  color:#fff;

}

nav ul li a{
  text-decoration:none;
  color: #333;

}
nav ul li a:hover{

  color: #fff;

}

 #social{
  width:25%;
  margin-top:5%;
  margin-bottom:5%;
  list-style:none;
  padding-left:0;




text-align:center;
}

 #social  li{
  display: inline-block;
  padding:1%;
  z-index:5;
}

nav footer{
  color:#fff;
font-size:15px;
position:relative;
margin-left:2%;
margin-top:35%;
padding-bottom:40%;

}

