body{
background: linear-gradient(to left, #FFEEEE , #DDEFBB);

font-family: 'Raleway', sans-serif;
color:#333;
line-height:180%;

}
img{
  float:left;
  vertical-align:top;
  margin:5%;
}

section{
  float:left;
  width:50%;
  margin:5%;
}
header{
  margin:5%;

}
header h1{
  width:15%;
  text-align:center;
  padding:1%;
  border: 0.5px solid #333;
}
#back{
margin:2%;
}
#bar{
  width:75%;
  margin-bottom:5%;
  border-bottom: 0.5px solid #333;
}
a{
  text-decoration:none;
  font-weight:bold;
  color:#319ce2;
  font-size:1.3em;
}